/* .filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.filter-container label {
  flex: 0 0 100px;
  margin-bottom: 10px;
}

.filter-container input,
.filter-container select {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 300px;
} */
