.greenhouse-page {
  padding: 10px;
}

.plant-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.plant-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 3px solid #040404;
  padding: 10px;
  border-radius: 2px;
  text-align: row;
}

.plant-card img {
  max-width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}

.plant-card h2 {
  font-size: 1.2rem;
  margin: 1px 0;
}

.plant-card p {
  font-size: 1rem;
  color: #666;
}
